@charset "utf-8";

/* reset */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
  margin: 0;
  padding: 0;
}

body, input, textarea, select, button, table {
  font-family: Malgun Gothic,'맑은 고딕',dotum,'돋움',AppleSDGothicNeo-Regular,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.25em;
}

body {
  position: relative;
  width: 100%;
  -webkit-text-size-adjust: none;
}

img, fieldset {
  border: 0;
}

ul, ol {
  list-style: none;
}

em, address {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
}

hr {
  display: none !important;
}

button {
  border: 0 none;
  background: transparent;
  outline: none;
}

.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Content */
#header {
  position: relative;
  height: 50px;
  background-color: #2c2c2c;
}
.logo_naver {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 78px;
  margin-left: -39px;
}
.logo_naver .naver_link {
  display: block;
  height: 30px;
}
.logo_naver .naver_link:after {
  display: block;
  height: 30px;
  background-image: url(../img/logo_shopping.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
}
.lnb {
  position: relative;
}
.lnb.open .menu {
  display: block;
  z-index: 10;
}
.lnb_link {
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  padding: 14px 17px;
}
.lnb_link:after {
  display: block;
  height: 22px;
  background-image: url(../img/icon_menu.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
}
.menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  box-shadow: 0 2px 3px 0 rgba(187, 193, 198, 0.4);
  background-color: #fff;
  text-align: center;
}
.menu li {
  height: 52px;
  font-size: 17px;
}
.menu .menu_link {
  display: block;
  line-height: 52px;
}
.menu .selected {
  background-color: #2c2c2c;
}
.menu .selected .menu_link {
  color: #fff;
}
#content {
  position: relative;
  padding: 20px 0 165px;
}
.spot .image_area {
  position: relative;
  height: 380px;
  margin-bottom: 20px;
  background-color: #0b0a0a;
  background-image: url(../img/poster_wide.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.spot .image_area .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/text_spot.png);
  background-size: 484px auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.spot .button_area {
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: -1px -2px 3px 0 rgba(187, 193, 198, 0.4);
}
.spot .btn_apply {
  display: block;
  width: 100%;
  height: 52px;
  border: none;
  background-color: #242844;
  font-size: 16px;
  color: #fff;
  line-height: 58px;
  cursor: pointer;
}
.spot .btn_apply:disabled {
  background-color: #dfdfdf;
  color: #fff;
  cursor: default;
}
.showroom_intro {
  margin-top: 53px;
  padding: 0 20px;
}
.h_title {
  margin: 32px 0 9px;
  font-size: 20px;
  line-height: 27px;
}
.h_title:first-child {
  margin-top: 0;
}
.s_title {
	margin: 32px 0 9px;
	font-size: 16px;
	line-height: 19px;
}
.text {
  font-size: 14px;
  line-height: 22px;
  color: #414141;
}
.text + .text {
  margin-top: 10px;
}
.gray {
	color: #696969;
}
.list_text li {
  position: relative;
  padding-left: 14px;
  font-size: 14px;
  line-height: 22px;
  color: #414141;
}
.list_text li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '-';
}
.map_area {
  margin: 30px 0;
  text-align: center;
  overflow: hidden;
  background-color: #F8F8F8;
}
.highlight {
  color: #0092e6;
}
.table {
  width: 100%;
  border-top: 1px solid #7d7d7d;
  table-layout: fixed;
}
.table tr:first-child th,
.table tr:first-child td {
  border-top: none;
}
.table th {
  background-color: #f9f9f9;
}
.table tbody .bg_style {
  background-color: #f9f9f9;
}
.table tbody td {
  padding: 19px 20px 19px;
  border-top: 1px solid #e8e8e8;
}
@media (max-width: 484px) {
  .spot .image_area .text {
    left: 20px;
    right: 20px;
    background-size: 100% auto;
  }
}
@media (min-width: 1024px) {
  #header {
    height: 60px;
  }
  .logo_naver {
    left: 20px;
    top: 15px;
    margin-left: 0;
  }
  .lnb {
    width: 930px;
    margin: 0 auto;
  }
  .lnb_link {
    display: none;
  }
  .spot .button_area {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    box-shadow: none;
  }
  .menu {
    display: block;
    position: relative;
    top: 0;
    padding-top: 22px;
    background-color: transparent;
    box-shadow: none;
  }
  .menu li {
    display: inline-block;
    height: auto;
    padding: 0 14px;
    font-size: 16px;
    color: #fff;
    vertical-align: top;
    opacity: 0.7;
  }
  .menu .menu_link {
    display: inline-block;
    position: relative;
    line-height: 20px;
    color: #fff;
    vertical-align: top;
  }
  .menu .selected {
    opacity: 1;
    background-color: transparent;
  }
  .menu .selected .menu_link:after {
    position: absolute;
    left: -2px;
    right: -2px;
    bottom: -2px;
    height: 2px;
    background-color: #fff;
    content: '';
  }
  #content {
    width: 930px;
    margin: 0 auto;
    padding-bottom: 70px;
  }
  .showroom_intro {
    margin-top: 73px;
  }
  .h_title {
    margin: 36px 0 13px;
    font-size: 25px;
    line-height: 32px;
  }
  .text {
    font-size: 16px;
    line-height: 24px;
  }
  .list_text li {
    position: relative;
    padding-left: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #414141;
  }
}
